{% extends "includes/master.html" %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-lg-5 col-md-7 col-sm-9">
        <div class="card">
            <div class="card-header text-center">
                <h3>Login to IChatBox</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url "login" %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>
                    {% if error %}
                        <div class="error-message mb-3" style="color: red;">
                            {{ error }}
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </form>
            </div>
            <div class="card-footer text-center">
                <a href="{% url "register" %}">Don't have an account? Register here</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
